@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
#search {
  border-radius: 4px;
  border-color: rgba(128, 123, 123, 0.562);
  font-family: "Acme", sans-serif;
}
body {
  background: linear-gradient(to right, #22272b, #e96161);
  font-family: "Acme", sans-serif;
}
#details {
  font-family: "Acme", sans-serif;
  font-weight: bold;

  display: flex;
  flex-direction: column;
}
.newType:hover {
  cursor: pointer;
  background: #f3eeee;
  border-radius: 24px;
}
img {
  width: 330px;
  height: 220px;
}
#connect {
  font-size: 1.5rem;
}
a {
  color: black;
}
a:hover {
  color: rgb(44, 44, 44);
}
.card {
  background-color: #f1e3e3a6;
}
.guitars {
  visibility: hidden;
}
